.remix-ribbon {
  background: black;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: 'Helvetica Neue', sans-serif;
}

.remix-ribbon:not(.remix-ribbon-ready) {
  display: none;
}
